/* General styling */
/* Full page background */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: url('images/cater.jpeg') ;
    background-size: cover;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

/* Background for all pages */
.background {
    background-image: url("../images/cater.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Login box */
.login-box {
    background: rgba(0, 0, 0, 0.6);
    width: 300px;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
    border-radius: 10px;
}

/* Dashboard cards */
.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-left: 20px;
}

.sidebar div {
    background: rgba(0, 0, 0, 0.6); /* semi-transparent black */
    color: white;
    padding: 30px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.sidebar div:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.8);
}

.card {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    width: 200px;
}